*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    display: flex;
    background-color: rgb(10, 91, 91);
    justify-content: center;
    align-items: center;
    color:rgb(206, 245, 245);
    padding: 18px;
    font-size: 22px;
}

main{
    background-color: rgb(0, 136, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

#tools{
    display: flex;
    flex-direction: column;
    margin-right: 2em;
    gap: 3em;
}

#tools button{
    background-color:rgb(0, 75, 75);
    color: white;
    font-size: 24px;
    border-radius: 10px;
    box-shadow: none;
    padding: 1em;
    font-weight: bold;
}

#tools button:hover{
    zoom: 1.2;
}

#gridSizeSelector{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

#gridSizeSelector p{
    color: white;
    font-size: 24px;
}

#gridSizeInput{
    height: 2em;
    width: 6em;
}

.container{
    height: 700px;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
}

.cell{
    background-color: white; 
}

.grid{
    border: 1px solid black;
}

footer{
    display: flex;
    background-color: rgb(10, 91, 91);
    justify-content: center;
    align-items: center;
    color:rgb(206, 245, 245);
    padding: 18px;
    font-size: 22px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#sawwe{
    color: white;
	text-align: center;
	font-size: 1.2rem;
	display: block;
	width: auto;	
    font-style: italic;
}

#sawwe a{
    color: var(--white);
    text-decoration: none;
}

#sawwe a:hover{
    color: rgb(166, 246, 244);
}